# Mac OS X files
.DS_Store
.AppleDouble
.LSOverride

# Mac OS X: Thumbnails
._*

# Mac OS X: Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Mac OS X: Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node
node_modules

# Sublime
*.sublime-project
*.sublime-workspace

# Repository-specific
dev-resources/classifier-ui/public/api
